<div>
    <mat-card>
        <mat-card-title>
            <mat-label> Exam </mat-label>
        </mat-card-title>
    </mat-card>
</div>



    <div  class="ventas">
        <mat-label> Productos y Servicios </mat-label>
            <div style="display: block">
                <canvas baseChart
                [data]="barChartData"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [type]="barChartType">
                </canvas>
              </div>
              <!-- <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button> -->
        </div>


    

        <div class="ventas">
            <mat-label> Sales </mat-label>
            <div style="display: block">
              <canvas baseChart
                [data]="doughnutChartData"        
                [type]="doughnutChartType">
              </canvas>
            </div>
        </div> 





    

